@import "assets/style/app";

#drive-customers {
  width: 100%;
  height: auto;
  background-image: url(assets/image/backcover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
  padding: 12% 13% 5% 13%;
  .drive-customers-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      width: 60%;

      h3 {
        width: 80%;
        color: #252b42;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        margin-bottom: 35px;
      }
      p {
        width: 85%;
        color: #737373;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        margin-bottom: 35px;
      }
      &-btnbox {
        width: 100%;
        padding-right: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-btn {
          
        button {
          width: 140%;
          height: 45px;
          background-color: #00a0c1;
          border: 1px solid transparent;
          border-radius: 30px;
          color: white;
          font-weight: 700;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0.2px;
          transition: 0.5s;
          cursor: pointer;
          align-items: center;
          // background-color: #FFFFFF;
          // border: 1px solid rgba(0, 0, 0, 0.1);
          // border-radius: .25rem;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-sizing: border-box;
          // color: rgba(0, 0, 0, 0.85);
          cursor: pointer;
          // display: inline-block;
          font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
            Helvetica, Arial, sans-serif;
          // font-size: 16px;
          // font-weight: 600;
          justify-content: center;
          line-height: 1.25;
          margin: 0;
          min-height: 3rem;
          padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
          // position: relative;
          text-decoration: none;
          transition: all 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: baseline;
          // width: auto;

          &:hover,
          &:focus {
            border-color: #00a0c1;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            color: #00a0c1;
          }

          &:hover {
            transform: translateY(-2px);
            background-color: transparent;
          }

          &:active {
            background-color: transparent;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: white;
            transform: translateY(10px);
          }
        }
      }

        &-button {
          & button {
            width: 120%;
            height: 45px;
            background-color: transparent;
            border: 1px solid #00a0c1;
            border-radius: 30px;
            color: #00a0c1;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.2px;
            transition: 0.6s;

            // &:hover {
            // background-color: #00a0c1;
            // color: white;

            align-items: center;
            // background-color: #FFFFFF;
            // border: 1px solid rgba(0, 0, 0, 0.1);
            // border-radius: .25rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            box-sizing: border-box;
            // color: rgba(0, 0, 0, 0.85);
            cursor: pointer;
            // display: inline-block;
            font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
              Helvetica, Arial, sans-serif;
            // font-size: 16px;
            // font-weight: 600;
            justify-content: center;
            line-height: 1.25;
            margin: 0;
            min-height: 3rem;
            padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
            // position: relative;
            text-decoration: none;
            transition: all 250ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            // width: auto;

            &:hover,
            &:focus {
              border-color: #00a0c1;
              box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
              color: white;
            }

            &:hover {
              transform: translateY(-2px);
              background-color: #00a0c1;
            }

            &:active {
              background-color: #00a0c1;
              border-color: rgba(0, 0, 0, 0.15);
              box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
              color: #00a0c1;
              transform: translateY(10px);
            }
          }
        }
      }
    }
    &-bookap {
      width: 35%;
      height: auto;
      background-color: white;
      border: 1px solid transparent;
      border-radius: 10px;
      padding: 40px 45px;
      h4 {
        color: #252b42;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        margin-bottom: 40px;
      }
      &-text-input {
        color: #252b42;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        & p {
          margin: 10px 0;
        }
        & input {
          width: 100%;
          height: 50px;
          border: 1px solid #bdbdbd;
          border-radius: 5px;
          font-size: 14px;
          padding-left: 10px;
        }
      }
      &-text-select {
        p {
          color: #252b42;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          margin: 10px 0;
        }

        & select {
          width: 100%;
          height: 50px;
          color: #737373;
          cursor: pointer;
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
          border: 1px solid #bdbdbd;
          border-radius: 5px;
          background-color: #f9f9f9;
          
        }
      }
      &-btn {
        margin-top: 40px;

        & button {
          width: 100%;
          height: 50px;
          // color: white;
          font-weight: 700;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0.2px;
          // background: #ffa62b;
          // border: 1px solid transparent;
          // border-radius: 5px;
          // transition: 0.6s;
          // &:hover {
          // border: 1px solid #ffa62b;
          // color: #ffa62b;
          // background-color: transparent;

          align-items: center;
          background-clip: padding-box;
          background-color: #fa6400;
          border: 1px solid transparent;
          border-radius: 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          display: inline-flex;
          font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
            Helvetica, Arial, sans-serif;
          // font-size: 16px;
          // font-weight: 600;
          justify-content: center;
          line-height: 1.25;
          margin: 0;
          min-height: 3rem;
          padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
          position: relative;
          text-decoration: none;
          transition: all 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: baseline;
          // width: auto;

          &:hover,
          &:focus {
            background-color: #fb8332;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          }

          &:hover {
            transform: translateY(-3px);
          }

          &:active {
            background-color: #c85000;
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            transform: translateY(0);
          }
        }
      }
    }
    
}
}

#choose {
  width: 100%;
  background-color: white;
  padding: 11% 14%;
  .choose-container {
    &-title {
      width: 100%;
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 80px;
      h4 {
        color: #252b42;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
        text-align: center;
      }
      p {
        width: 48%;
        margin: 0 25%;
        color: #737373;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: center;
      }
    }
    &-boxes {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-box {
        width: 32%;
        height: auto;
        padding: 6% 0 0 0;
        background-color: #d9edff;
        border: 1px solid transparent;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &-image {
          width: 100%;
          height: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
          & img {
            width: 20%;
            height: 570%;
            border-radius: 14%;
            margin-left: 5px;
          }
          & span {
            color: #252b42;
            margin-left: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
          }
        }
        &-title-content {
          width: 100%;
          height: 230px;
          padding: 30px;
          border: 2px solid transparent;
          border-radius: 10px;
          background-color: white;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #737373;
          p {
            width: 85%;
          }
          a {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #ffa62b;
          }
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
  }
}
#business {
  width: 100%;

  .business-container {
    &-content {
      width: 100%;
      padding: 6% 20% 12% 20%;
      background-color: #fafafa;
      display: block;
      justify-content: center;
      align-items: center;
      h4 {
        width: 65%;
        margin: 0 20%;
        color: #252b42;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-bottom: 10px;
      }
      h5{
        width: 65%;
        margin: 0 20%;
        display: none;
        color: #252b42;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-bottom: 10px;
      }
      p {
        width: 55%;
        margin: 0 25%;
        color: #737373;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: center;
      }
    }
    &-video {
      width: 100%;
      padding: 13% 20%;
      background-color: #16697a;
      position: relative;
      &-frame {
        width: 70%;
        height: auto;
        position: absolute;
        top: -35%;
        left: 24%;
        & iframe {
          width: 80%;
          height: 400px;
        }
      }
    }
  }
}

#client {
  width: 100%;
  padding: 7% 13%;
  background-color: #f3f3f3;
  .client-container {
    &-content {
      display: block;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
      h4 {
        color: #252b42;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-bottom: 10px;
      }
      p {
        width: 50%;
        margin: 0 25%;
        color: #737373;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: center;
        
      }
    }
    &-boxes {
      width: 100%;
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .swiper {
        width: 100%;
        height: auto;
      }

      .swiper-slide {
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }


      .swiper-slide img {
        display: block;
        
        
        object-fit: cover;
      }
      &-box {
        width: 32%;
        height: auto;
        padding: 3%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        &-icon {

          img {
            width: 60%;
            height: 9%;
            border-radius: 50%;
          }
          p {
            width: 85%;
            margin: 10px 0;
            color: #737373;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin: 20px 0;
          }
        }
        &-image {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &-photo {
            & img {
              // width: 35%;
              // height: 80%;
              object-fit: cover;
              border: 1px solid transparent;
              border-radius: 50%;
            }
          }
          &-content {
            margin-left: 15px;
            p {
              color: #ffa62b;
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.2px;
            }
            span {
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.2px;
              color: #252b42;
            }
          }
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;
        }
      }
    }
  }
}

#team {
  width: 100%;
  background-color: white;
  .team-container {
    width: 100%;
    padding: 14% 11%;
    &-title {
      width: 100%;
      margin-bottom: 80px;
      h4 {
        color: #252b42;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-bottom: 10px;
      }
      p {
        width: 45%;
        color: #737373;
        margin-left: 28%;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: center;
        
      }
    }
   
    &-boxes {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .team {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        
      }
      &-box {
        width: 100%;
        background-color: white;
        border: 1px solid #eeeeee;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &-image {
          height: 60%;
          margin-bottom: 30px;
          overflow: hidden;
          & img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            transition: 0.8s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        &-content {
          width: 100%;
          height: 40%;
          & h5 {
            color: #252b42;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            text-align: center;
          }
          & p {
            color: #737373;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: center;
            margin-bottom: 5px;
          }
          &-photo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            & a img {
              width: 70%;
              height: 60%;
              margin-right: 15px;
            }
          }
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        }
      }
    }
  }
}

#contact {
  width: 100%;
  background-image: url(assets/image/backcontact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .contact-container {
    width: 100%;
    padding: 14% 11%;
    & h6 {
      color: #252b42;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
    & h4 {
      color: #252b42;
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
      margin-bottom: 40px;
    }
    &-text-input {
      width: 60%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      &-name {
        width: 45%;

        & input {
          width: 100%;
          height: 50px;
          color: #bdbdbd;
          border: 1px solid #bdbdbd;
          border-radius: 5px;
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }
    &-text-select {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      &-department {
        width: 45%;
        & select {
          width: 100%;
          height: 50px;
          border: 1px solid #bdbdbd;
          border-radius: 5px;
          font-size: 14px;
          padding-left: 10px;
          cursor: pointer;
        }
      }
    }
    &-textarea {
      width: 60%;
      margin-bottom: 40px;
      & textarea {
        width: 100%;
        height: 140px;
        resize: none;
        outline: none;
        border: 1px solid #bdbdbd;
        padding: 16px 26px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #bdbdbd;
      }
    }
    &-btn {
      & button {
        width: 20%;
        height: 50px;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        // background: #ffa62b;
        // border: 1px solid transparent;
        // border-radius: 5px;
        // transition: 0.6s;
        // &:hover {
        //   border: 1px solid #ffa62b;
        //   color: #ffa62b;
        //   background-color: transparent;
        // }
        align-items: center;
        background-clip: padding-box;
        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
          Helvetica, Arial, sans-serif;
        // font-size: 16px;
        // font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        // width: auto;

        &:hover,
        &:focus {
          background-color: #fb8332;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        }

        &:hover {
          transform: translateY(-3px);
        }

        &:active {
          background-color: #c85000;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          transform: translateY(0);
        }
      }
    }
  }
}

#consulting {
  width: 100%;
  background-color: white;
  .consulting-container {
    width: 100%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content {
      h4 {
        color: #252b42;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
      }
      p {
        color: #737373;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
      }
    }
    &-button {
      width: 15%;
      button {
        width: 100%;
        height: 50px;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        // background: #ffa62b;
        // border: 1px solid transparent;
        // border-radius: 5px;
        // transition: 0.6s;
        // &:hover {
        //   border: 1px solid #ffa62b;
        //   color: #ffa62b;
        //   background-color: transparent;
        // }
        align-items: center;
        background-clip: padding-box;
        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
          Helvetica, Arial, sans-serif;
        // font-size: 16px;
        // font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        // width: auto;

        &:hover,
        &:focus {
          background-color: #fb8332;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        }

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          background-color: #c85000;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          transform: translateY(0);
        }
      }
    }
  }
}
